<template>
  <v-container v-if="dataReady" class="topContainer overflow-y-hidden" bg fill-height grid-list-md text-xs-center>

    <v-flex class="animated-bg background-far" id="bg-far"> </v-flex>
    <v-flex class="animated-bg background-far-clouds" id="bg-far-clouds"> </v-flex>
    <v-flex class="animated-bg background-mid" id="bg-mid"> </v-flex>
    <v-flex class="animated-bg background-near-clouds" id="bg-near-clouds"> </v-flex>
    <v-flex class="animated-bg background-front" id="bg-front"> </v-flex>
    <v-flex class="animated-bg background-birds" id="bg-birds"> </v-flex>

    <!-- pop-up settings menu -->
    <v-flex v-if="settingsEnabled" class="settings-holder"> <SettingsWindow> </SettingsWindow> </v-flex>

    <v-flex  style="position: absolute" md2 offset-md0 align="center" justify="center" fill-height class="px-2">
      <MenuContainer></MenuContainer>
    </v-flex>

    <v-flex style="width:100%; position: absolute; text-align: -webkit-center;" md8 offset-md2 fill-height class="pl-10">
      <StatTracker></StatTracker>
      <PetHouse> </PetHouse>
    </v-flex>

    <v-flex style="width:100%; position: absolute" md2 offset-md10 align="center" justify="center" fill-height class="pl-12 pr-2">
      <FoodContainer> </FoodContainer>
    </v-flex>

  </v-container>

</template>

<script>
  /* eslint-disable */
import FoodContainer from '@/components/FoodContainer.vue'
import MenuContainer from '@/components/MenuContainer.vue'
import StatTracker from '@/components/StatTracker.vue'
import PetHouse from '@/components/PetHouse.vue'
import SettingsWindow from '@/components/SettingsWindow.vue'
import Axios from 'axios'

export default {
  name: 'Home',
  data: () => ({
    dataReady: false
  }),

  components: {
    StatTracker,
    FoodContainer,
    MenuContainer,
    PetHouse,
    SettingsWindow
  },
  methods: {
    gameLoop: function () {
    
        //"game-loop" to passively increase affection
        var intervalID = window.setInterval(() => {
        var foodMultiplier = this.$store.getters.foodMultiplier;
        var multiplier = this.$store.getters.multiplier;
        var affectionPerSecond = this.$store.getters.affectionPerSecond;

        var increment = (foodMultiplier * multiplier * affectionPerSecond);

        this.$store.commit("incrementAffection", increment);

        let timer = this.$store.getters.saveTimer;

        if(timer % 5 === 0){
          //check for new messages
          Axios({
                    url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/email/',
                    data: {},
                    method: 'GET'
                }).then(resp => {
                    this.$store.commit('setMessages', resp.data);
                    if(timer === 0){
                      let myvar = this.$store.watch(
                          (state, getters) => getters.messages.length,
                          (newValue, oldValue) => {
                              // Do whatever makes sense now
                              if (newValue > oldValue) {
                                  this.$store.state.newMessages = true;
                              }
                          }
                      )
                      this.$store.state.unwatchFuntion = myvar
                    }
                    
                }).catch(err => {
                    console.log(err);
                })
          
            Axios({
              url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/',
              data: {
                "ap": this.$store.getters.currentAffection,
                "hunger": this.$store.getters.foodLevel / 100,
                "ap_gain": this.$store.getters.ap_gain,
                "logout": 1,
                },
              method: 'PATCH'
            }).then(resp => {
              //patch successful, therefore reset ap_gain
              this.$store.commit("resetApGain");
              //updateBoxPrices based on lifetime ap
              let realAffectionPerSecond = this.$store.getters.affectionPerSecond * this.$store.getters.multiplier;
              let realClickAffection = this.$store.getters.affectionPerClick * this.$store.getters.multiplier;
              this.$store.commit("setEpicBoxPrice", Math.max(Math.ceil(realAffectionPerSecond * 100),Math.ceil(realClickAffection *500)));
              this.$store.commit("setRareBoxPrice",  Math.max(Math.ceil(realAffectionPerSecond * 30),Math.ceil(realClickAffection *200)));
              this.$store.commit("setCommonBoxPrice", Math.max(Math.ceil(realAffectionPerSecond * 10),Math.ceil(realClickAffection *50)));

            }).catch(err => {
              console.log(err);
              
            })
        }

        this.$store.commit('incSaveTimer');
        this.$store.commit('starveBy', 100/(30 * 60))
      }, 1000);

      //set the event ID of the game loop in store so it can be stopped on logout
      this.$store.commit('setIntervalID', intervalID)
    }
  },

  computed: {
    username: function () {
      return localStorage.getItem('username');
    },
    settingsEnabled: function(){
      return this.$store.getters.settingsEnabled;
    }
  },
  beforeCreate() {
    new Promise((resolve, reject) => {
              Axios.defaults.headers.common['Authorization'] = "Bearer " + localStorage.getItem('access')
              Axios({
                  url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/initialise/',
                  data: {},
                  method: 'GET'
                }).then(resp => {
                  this.$store.state.inventoryEnabled = false;
                  this.$store.state.shopEnabled = false;
                  this.$store.commit('setEquippedHat', resp.data.equipped_items_hat)
                  this.$store.commit('setEquippedFace', resp.data.equipped_items_face)
                  this.$store.commit('setEquippedToy', resp.data.equipped_items_toy)
                  this.$store.commit('setCurrentAffection', resp.data.ap)
                  this.$store.commit('setFoodLevel', resp.data.hunger * 100)
                  this.dataReady = true;
                  this.gameLoop();

                  resolve(resp)
                })
                .catch(err => {
                  reject(err)
                })
            })
  }
}
</script>

<style scoped>
  @keyframes slideLeft {
    0%{ transform: translate3d(0, 0, 0);  }
    100%{ transform: translate3d(calc(-100vh * (2552/1080)) , 0, 0); } /* The image height and width */
  }

  @keyframes slideRight {
    0%{ transform: translate3d(calc(-100vh * (2552/1080)) , 0, 0); } /* The image height and width */
    100%{ transform: translate3d(0, 0, 0);  }
  }

  .settings-holder {
    width: 50vh;
    height: 50vh;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topContainer{
    margin: 0 !important;
    padding: 0 !important;
    max-width: inherit !important;
    background-size: auto 100%;
  }

  .animated-bg{
    margin: 0;
    max-width: 5760px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: repeat-x;
    width: 5760px;
    height: 100%;
    overflow: hidden;
    background-size: auto 100%;
  }

  .background-front {
    background-image: url("../assets/BackgroundImages/BackgroundPath.png"),
                      url("../assets/BackgroundImages/BackgroundFence.png"),
                      url("../assets/BackgroundImages/BackgroundWavesAnimated.gif"),
                      url("../assets/BackgroundImages/BackgroundLakeAndNearMountains.png");
  }

  .background-mid {
    background-image: url("../assets/BackgroundImages/BackgroundFarMountains.png"),
                      url("../assets/BackgroundImages/BackgroundFarFarMountains.png");
  }

  .background-far{
    background-image: url("../assets/BackgroundImages/BackgroundSky.png");
  }

  .background-far-clouds {
    background-image: url("../assets/BackgroundImages/BackgroundCloudsFar.png");
    animation: slideLeft 125s linear infinite;
    -moz-animation: slideLeft 125s linear infinite;
    -webkit-animation: slideLeft 125s linear infinite;
  }

  .background-near-clouds {
    background-image: url("../assets/BackgroundImages/BackgroundCloudsNear.png");
    animation: slideLeft 75s linear infinite;
    -moz-animation: slideLeft 75s linear infinite;
    -webkit-animation: slideLeft 75s linear infinite;
  }

  .background-birds {
    background-image: url("../assets/BackgroundImages/BackgroundBirdsAnimated.gif");
    animation: slideRight 45s linear infinite;
    -moz-animation: slideRight 45s linear infinite;
    -webkit-animation: slideRight 45s linear infinite;
  }
</style>