<template>
   <v-container bg fill-height grid-list-md text-xs-center>

     <v-flex class="animated-bg background-sky" id="bg-sky"> </v-flex>
     <v-flex class="animated-bg background-far-clouds" id="bg-far-clouds"> </v-flex>
     <v-flex class="animated-bg background-mountains" id="bg-mountains"> </v-flex>
     <v-flex class="animated-bg background-near-clouds" id="bg-near-clouds"> </v-flex>
     <v-flex class="animated-bg background-lake" id="bg-waves"> </v-flex>
     <v-flex class="animated-bg background-waves" id="bg-lake"> </v-flex>
     <v-flex class="animated-bg background-birds" id="bg-birds"> </v-flex>
     <v-flex class="animated-bg background-fence" id="bg-fence"> </v-flex>
     <v-flex class="animated-bg background-path" id="bg-path"> </v-flex>

     <v-flex xs10 md4 sm6 offset-xs1 offset-md4 offset-sm3 align="center" justify="center" >
      <div class="home">

        <!-- Log In dialog -->
        <v-card v-if="showLogin" style="border-radius:15%" class="mx-auto login-box" max-width="380" >
          <v-card-title class="justify-center headline">Log In</v-card-title>
          <v-card-subtitle class="text-center">Play with an existing account</v-card-subtitle>

            <v-card-text  class="text--primary px-5">
              <v-form ref="form" v-model="validLogin" :lazy-validation="lazy" @keyup.enter.native="login">
                <v-text-field class="my-0" v-model="loginUsernameField" :counter="20" :rules="usernameRules" label="Username" required clearable></v-text-field>
                <v-text-field class="my-0" v-model="loginPasswordField" :counter="20" :rules="passwordRules" :type="'password'" label="Password" required clearable></v-text-field>
              </v-form>
            </v-card-text>

            <v-card-actions class="d-flex flex-column justify-center px-5">
              <v-btn block color="info" @click="login" :disabled="!validLogin" :loading="this.loading">Log In</v-btn>
              <span class="mt-6 caption"> Don't have an account? </span>
              <v-btn class="mb-6 caption" x-small color="info" text @click="showLogin=false">Create Account</v-btn>
            </v-card-actions>
        </v-card>

        <!-- Create Account dialog -->
        <v-card v-if="!showLogin" style="border-radius:15%" class="mx-auto login-box" max-width="400">
          <v-card-title class="justify-center headline" >Create Account</v-card-title>
          <v-card-subtitle class="text-center">Create and play with a new account</v-card-subtitle>

          <v-card-text class="text--primary px-5">
            <v-form ref="form" v-model="validRegister" :lazy-validation="lazy" @keyup.enter.native="register">
              <v-text-field class="my-0" v-model="registerUsernameField" :counter="20" :rules="usernameRules" label="Username" required clearable></v-text-field>
              <v-text-field class="my-0" v-model="registerPasswordField" :counter="20" :rules="passwordRules" :type="'password'" label="Password" required clearable></v-text-field>
              <v-text-field class="my-0" v-model="passwordCheckField" :counter="20" :rules="[v => !!v && (v === this.registerPasswordField) || 'Passwords don\'t match']"
                            :type="'password'" label="Confirm Password" required></v-text-field>
            </v-form>
          </v-card-text>

          <v-card-actions class="d-flex flex-column justify-center px-5">
            <v-btn block color="info" :disabled="!validRegister" @click="register" type="submit" :loading="this.loading">Create Account</v-btn>
            <span class="mt-6 caption"> Already have an account?</span>
            <v-btn class="mb-6 caption" x-small color="info" text @click="showLogin=true">Log in</v-btn>
          </v-card-actions>
        </v-card>

        <!-- A dialog which appears in the event of an error -->
        <v-dialog v-model="showInfoPrompt" max-width="300" persistent overlay-opacity="0.75">
          <v-card class="red--text">
            <v-card-title class="justify-center">ERROR</v-card-title>
            <v-card-text class="text-center">{{ infoPromptText }}</v-card-text>
            <v-card-actions>
              <v-btn block x-small text @click="showInfoPrompt=false">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </div>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  name: 'login',

  data: () => ({
    showInfoPrompt: false, //controls when the error prompt is displayed
    infoPromptText: 'An error has occurred', //The text which the error prompt displays

    loginUsernameField: '',
    registerUsernameField: '',
    usernameRules: [
      v => !!v || 'Name is required',
      v => (v && !v.includes(' ')) || 'Username cannot contain spaces',
      v => (v && v.length <= 20) || 'Name must be less than 20 characters',
    ],

    loginPasswordField: '',
    registerPasswordField: '',
    passwordCheckField: '',
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 6) || 'Password must be at least 6 characters',
      v => (v && !v.includes(' ')) || 'Password cannot contain spaces'
    ],

    showLogin: true, //controls which of the 'login' or 'register' elements is displayed.
    loading: false, //changes when the page requests a response from the server. True when waiting for a response.
    validLogin: true, //true when the login details are valid according to usernameRules and passwordRules.
    validRegister: true, //true when the registration details are valid according to username Rules and passwordRules.
    lazy: false, //controls validation execution for forms on this view.
  }),

  methods: {
    login: function() {
      if(!this.validLogin) return;

      this.loading = true;
      let username = this.loginUsernameField;
      let password = this.loginPasswordField;
      let promise = this.$store.dispatch("login", {username,password});

      promise.then(() => {
        this.loading = false;
      }).catch(err => {
        this.loading = false;
        let errorText = err.response.data.detail.replace(/^\w/, c => c.toUpperCase());
        this.infoPromptText = "[" + err.response.status + "] " + err.response.statusText +": '" + errorText +"'";
        this.showInfoPrompt = true;
      });
    },

    register: function() {
      if(!this.validRegister) return;

      this.loading = true;
      let data = {username: this.registerUsernameField, password: this.registerPasswordField};
      let promise = this.$store.dispatch("register", data);

      promise.then(() => {
        this.loading = false;
        this.showLogin = true;
      }).catch(err => {
        this.loading = false;
        let errorText = err.response.data.username[0].replace(/^\w/, c => c.toUpperCase());
        this.infoPromptText = "[" + err.response.status + "] " + err.response.statusText +": '" + errorText +"'";
        this.showInfoPrompt = true;
      });
    }
  }
}
</script>

<style scoped>
  .login-box{
    background-color: rgba(100, 100, 100, 1.0) !important;
    border: 40px solid transparent;
    border-image: url("../assets/Other/FrameBlue.png") 88 round;
  }

  .animated-bg {
    margin: 0;
    max-width: 5760px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: repeat-x;
    width: 5760px;
    height: 100%;
    overflow: hidden;
    background-size: auto 100%;
  }

  @keyframes slideLeft {
    0%{ transform: translate3d(0, 0, 0);  }
    100%{ transform: translate3d(calc(-100vh * (2552/1080)) , 0, 0); } /* The image height and width */
  }

  @keyframes slideRight {
    0%{ transform: translate3d(calc(-100vh * (2552/1080)) , 0, 0); } /* The image height and width */
    100%{ transform: translate3d(0, 0, 0);  }
  }

  .background-path {
    background-image: url("../assets/BackgroundImages/BackgroundPath.png");
    animation: slideLeft 20s linear infinite;
    -moz-animation: slideLeft 20s linear infinite;
    -webkit-animation: slideLeft 20s linear infinite;
  }

  .background-fence {
    background-image: url("../assets/BackgroundImages/BackgroundFence.png");
    animation: slideLeft 21s linear infinite;
    -moz-animation: slideLeft 21s linear infinite;
    -webkit-animation: slideLeft 21s linear infinite;
  }

  .background-birds{
    background-image: url("../assets/BackgroundImages/BackgroundBirdsAnimated.gif");
    animation: slideRight 50s linear infinite;
    -moz-animation: slideRight 50s linear infinite;
    -webkit-animation: slideRight 50s linear infinite;
  }

  .background-waves{
    background-image: url("../assets/BackgroundImages/BackgroundWavesAnimated.gif");
    animation: slideLeft 34s linear infinite;
    -moz-animation: slideLeft 34s linear infinite;
    -webkit-animation: slideLeft 34s linear infinite;
  }

  .background-lake {
    background-image: url("../assets/BackgroundImages/BackgroundLakeAndNearMountains.png");
    animation: slideLeft 34s linear infinite;
    -moz-animation: slideLeft 34s linear infinite;
    -webkit-animation: slideLeft 34s linear infinite;
  }

  .background-near-clouds{
    background-image: url("../assets/BackgroundImages/BackgroundCloudsNear.png");
    animation: slideLeft 24s linear infinite;
    -moz-animation: slideLeft 24s linear infinite;
    -webkit-animation: slideLeft 24s linear infinite;
  }

  .background-mountains{
    background-image: url("../assets/BackgroundImages/BackgroundFarMountains.png"), url("../assets/BackgroundImages/BackgroundFarFarMountains.png");
    animation: slideLeft 34s linear infinite;
    -moz-animation: slideLeft 34s linear infinite;
    -webkit-animation: slideLeft 34s linear infinite;
  }

  .background-far-clouds{
    background-image: url("../assets/BackgroundImages/BackgroundCloudsFar.png");
    animation: slideLeft 32s linear infinite;
    -moz-animation: slideLeft 32s linear infinite;
    -webkit-animation: slideLeft 32s linear infinite;
  }

  .background-sky{
    background-image: url("../assets/BackgroundImages/BackgroundSky.png");
  }
</style>