<template>
    <div class="minigame">

        <!-- Info box -->
        <div class="infoBox">
            <h1>Minigame</h1>
            <p>Affection: {{ $store.getters.currentAffection }}</p>
            <button @click="onClickBack">Back</button>
        </div>

        <!-- Game -->
        <div class="gameWrapper">
            <Game />
        </div>

    </div>
</template>

<script>
    import Game from '../components/Game';

    export default {
        name: "Minigame",
        components: {
            Game
        },
        methods: {
            onClickBack() {
                this.$router.push({name: "home"});
            }
        }
    }
</script>

<style scoped>
    .infoBox {
        position: fixed;
        top: 10px;
        left: 10px;
        background-color:white;
    }
    .infoBox {
        color:black;
    }
    button {
        background-color:red;
    }
    .gameWrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>