<template>
    <v-card style="border-radius: 0; background: rgba(0,0,0,0)" flat>
        <v-card-title class="headline font-weight-light justify-center pa-0 mt-2">
            New Message
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="validMail" @keyup.enter.native="sendMail">
                <v-text-field class="my-0" v-model="recipient" :counter="20" :rules="recipientRules" label="Recipient" required clearable autofocus></v-text-field>
                <v-text-field class="my-0" v-model="subject" :counter="255" :rules="subjectRules" label="Subject" clearable></v-text-field>
                <v-textarea class="my-0" v-model="content" :counter="255" :rules="contentRules" label="Content" required clearable auto-grow></v-textarea>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn class="flex-grow-1" @click="goBack"> Back </v-btn>
            <v-btn class="flex-grow-1" color="info" :disabled="!validMail" @click="sendMail"> Send </v-btn>
        </v-card-actions>

    </v-card>
</template>

<script>

import Axios from 'axios'

export default {
    props: [],
    components: {
    },
    data: () => ({
        mode: 0,
        recipient: '',
        subject: '',
        content: '',
        validMail: true,
        recipientRules: [
            v => !!v || 'Recipient is required',
            v => (v && !v.includes(' ')) || 'Recipient name cannot contain spaces',
            v => (v && v.length <= 20) || 'Recipient name must be less than 20 characters',
        ],
        subjectRules: [
            v => !!v || 'Content is required',
            v => v.length <= 255 || 'Name must be less than 255 characters',
        ],  
        contentRules: [
            v => !!v || 'Content is required',
            v => (v && v.length <= 255) || 'Message must be less than 255 characters',
        ], 
    }),
    methods:{
        sendMail: function(){
            Axios({
                    url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/email/',
                    data: {
                        "subject" : this.subject,
                        "recipent" : this.recipient,
                        "content" : this.content
                        },
                    method: 'POST'
                }).then(resp => {
                    alert("Mail sent successfully!");
                    this.subject = '';
                    this.content = '';
                    this.recipient = '';
                    this.goBack();
                }).catch(err => {
                    alert("Problem with your email!");
                })
        },
        goBack: function(){
            this.$parent.mode = 0;
        }
    }
}
       

</script>