<template>
    <v-container class="parentContainer mx-12  pa-0 my-4 ">
        <v-container id="topContainer" class="flex-grow-1" fill-width :style="'outline: ' + (this.foodLevel > 66 ? '1px red solid' : '0')" >
            <div style="height: 45%"></div>
            <div class="text-center headline font-weight-thin">x0.5</div>
        </v-container>

        <v-container id="centerContainer" class="flex-grow-1"
                     :style="'outline: ' + (this.foodLevel > 33 && this.foodLevel < 66 ? '1px yellowgreen solid' : '0')" >
            <div style="height: 45%"></div>
            <div class="text-center display-1 font-weight-light">x2.0</div>
        </v-container>

        <v-container id="bottomContainer" class="flex-grow-1" :style="'outline: ' + (this.foodLevel < 33 ? '1px red solid' : '0')" >
            <div style="height: 45%"></div>
            <div class="text-center headline font-weight-thin">x0.5</div>
        </v-container>

        <div class="foodLevel" :style="getFoodLevelStyle"></div>

    </v-container>
</template>

<script>
export default {
    data: () => ({
    }),
    methods: {
    },
    computed: {
        foodLevel: function(){
            return this.$store.getters.foodLevel;
        },

        getFoodLevelStyle: function(){
            let foodlevel = this.foodLevel;
            let styles = 'height:' + foodlevel + '%; bottom:' + foodlevel + '%;';
            styles = styles + 'background: rgb(0,255,0); background: linear-gradient(180deg, rgba(0,255,0,1) 0%, rgba(0,139,0,1) 100%);';
            if(foodlevel<50){
                return styles + 'filter: hue-rotate(' + ((50-foodlevel)/50)*(-120) + 'deg);';
            } else{
                return styles + 'filter: hue-rotate(' + ((foodlevel-50)/50)*(-120) + 'deg);';
            }
        }
    },
    created: function(){
    }
}
</script>

<style scoped>
    .parentContainer{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
    }

    #topContainer{
        border: black solid 2px;
        border-bottom: 0;
        background-color: rgba(196, 196, 196, 0.2);
        height: calc(100%/3);
        position: relative;
        z-index: 1;
    }

    #centerContainer{
        border: black solid 2px;
        border-top: rgba(100,100,100,0.5) 1px solid;
        border-bottom: rgb(58, 58, 58) 2px dotted;
        background-color: rgba(196, 196, 196, 0.2);
        height: calc(100%/3);
        position: relative;
        z-index: 1;
    }

    #bottomContainer{
        border: black solid 2px;
        border-top: 0;
        background-color: rgba(196, 196, 196, 0.2);
        height: calc(100%/3);
        position: relative;
        z-index: 1;
    }

    .foodLevel{
        position: relative;
        width: 100%;
        transition: all .2s ease;
    }
</style>