<template>
    <v-container class="pa-0 mt-4 justify-center" id="container" fill-height>
        <v-row id="topContainer" class="ma-0 pa-0 align-self-start" no-gutters justify="center">
            <div class="pa-0 headline font-weight-bold text-uppercase">Food Meter</div>
        </v-row>

        <v-row id="centerContainer" class="ma-0 px-4 py-0 flex-grow-1">
            <FoodMeter> </FoodMeter>
        </v-row>

        <v-row id="bottomContainer" class="ma-0 pa-0 justify-center align-self-end">
            <v-btn @click="feed(5)" block>
                <v-icon left>mdi-food-apple-outline</v-icon>
                Feed Pet
            </v-btn>
        </v-row>
    </v-container>
</template>

<script>

import FoodMeter from '@/components/FoodMeter.vue'

export default {
    components: {
        FoodMeter
    },
    data: () => ({
    }),
    methods: {
        feed(amount){
            this.$store.commit("feedBy", amount);
        },
        starve(amount){
            this.$store.commit("starveBy", amount);
        }
    }
}
</script>

<style scoped>

    #container{
        height: 95%;
        background-color: rgba(100, 100, 100, 1.0);
        border-radius: 13%;
    }

    #topContainer{
        border-radius: 40%;
        background-color: rgba(100, 100, 100, 1.0);
        border: solid transparent;
        border-width: 33px 33px 10px 33px;
        border-image: url("../assets/Other/FramePlainTop.png") 88 88 88 88 round;
    }

    #centerContainer{
        height: 84%;
        border: solid transparent;
        border-width: 0px 15px 0px 15px;
        border-image: url("../assets/Other/FramePlainCenter.png") 40 round;
        background-color: rgb(75, 75, 75);
        box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    }

    #bottomContainer{
        border-radius: 28%;
        background-color: rgba(100, 100, 100, 1.0);
        border: solid transparent;
        border-width: 10px 33px 33px 33px;
        border-image: url("../assets/Other/FramePlainBottom.png") 88 88 88 88 round;
    }

.foodContainer{
    height: 95%;
    background-color: rgba(100, 100, 100, 1.0);
    border-radius: 13%;
    border: 33px solid transparent;
    border-image: url("../assets/Other/FramePlain.png") 88 round;
}

.buttonContainer{
    max-height: 8%;
    width: 100%;
    bottom:5%;
    left: 12%;
    position: absolute;
}

.foodButton{
    border-radius: 5px;
    max-height: 100%;
    width: 40%;
}

</style>