<template>
    <div :id="containerId" v-if="downloaded" />
    <div class="placeholder" v-else>
        Downloading ...
    </div>
</template>

<script>
    export default {
        name: 'Game',
        data() {
            return {
                downloaded: false,
                gameInstance: null,
                containerId: 'game-container'
            };
        },
        created(){
            window.clearInterval(this.$store.getters.intervalID);
        },
        async mounted() {
            const game = await import(/* webpackChunkName: "game" */ '@/game/game');
            this.downloaded = true;
            this.$nextTick(() => {
                this.gameInstance = game.launch(this.containerId);
            });
        },
        destroyed() {
            this.gameInstance.destroy(false)
        }
    }
</script>

<style scoped>
    .placeholder {
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
