<template>
    <v-container v-if="inventoryEnabled" class="pa-0 overflow-y-auto overflow-x-hidden" style="max-height: 100%">

        <!-- A div is created for each category using the v-for directive -->
        <div v-for="(category,index) in {hats,faces,toys}" :key="index">
            <!-- display the correct category name using the v-if directive and the current index -->
            <div class="font-weight-light body-1 text-uppercase" v-if="index === 'hats'">Hats</div>
            <div class="font-weight-light body-1 text-uppercase" v-else-if="index === 'faces'">Accessories</div>
            <div class="font-weight-light body-1 text-uppercase" v-else>Toys</div>

            <!-- Display a skeleton while the data is being loaded -->
            <v-skeleton-loader v-if="!dataReady" type="article"></v-skeleton-loader>

            <!-- 'Math.ceil(category.length/4)' gives the minimum number of rows to fit all the items if there are 4 items per row.  -->
            <v-row class="pa-0 px-2 mb-2 text-center" v-for="rowIndex in Math.ceil(category.length/4)" :key="'hat'+rowIndex">
                <!-- Four columns are created per row regardless of whether they are filled, in order to make the grid square/ -->
                <v-col class="pa-0" v-for="columnIndex in 4" :key="columnIndex">

                    <!-- This component acts as a dummy to crate the appearance of empty inventory slots. A v-if directive ensures it's only visible for slots where items do not exist-->
                    <v-avatar v-if="itemArrayPosition(rowIndex,columnIndex) >= category.length" tile color="rgba(60,60,60,1)" size="55px">
                        <img src="../assets/ItemSprites/IconFrame.png" alt="IconFrame">
                    </v-avatar>

                    <!-- A v-tooltip and v-hover component are used to show item stats and outline the hovered item  -->
                    <v-tooltip right class="tooltip" color="rgba(255,255,255,0)">
                        <template v-slot:activator="{ on }">
                            <v-hover v-slot:default="{ hover }">
                                <!-- A v-avatar component is used to display a sprite according to the item in the grid -->
                                <v-avatar @click="equipItem(category[itemArrayPosition(rowIndex, columnIndex)])" v-on="on" tile size="55px"
                                          :color="[$store.getters.equippedHat.id,$store.getters.equippedFace.id,$store.getters.equippedToy.id].includes(category[itemArrayPosition(rowIndex,columnIndex)].id) ? 'rgb(79,134,156)' : 'rgb(100,100,100)'"
                                          v-if="itemArrayPosition(rowIndex,columnIndex) < category.length" :style="'outline: gold solid ' + (hover?'1px':'0px')">
                                    <img :src='"../assets/ItemSprites/" + category[itemArrayPosition(rowIndex,columnIndex)].sprite + category[itemArrayPosition(rowIndex,columnIndex)].rarity +".png"'>
                                </v-avatar>
                            </v-hover>
                        </template>

                        <!-- This card appears as a tooltip when an item is hovered over. -->
                        <v-card class="tooltip pa-0" v-if="itemArrayPosition(rowIndex,columnIndex) < category.length">
                            <!-- The colour is bound to a color based on the rarity of the item. -->
                            <v-card-title class="font-weight-black py-0 " :style="'color:' + rarityColor(category[itemArrayPosition(rowIndex,columnIndex)].rarity)">
                                {{ category[itemArrayPosition(rowIndex,columnIndex)].name }}
                            </v-card-title>
                            <!-- The item's stats are compared with the equipped item's stats and displayed in the card's body -->
                            <v-card-text class="font-weight-light body-2">
                                <div class="font-weight-regular body-1 font-italic mb-2">"{{ category[itemArrayPosition(rowIndex,columnIndex)].description }}"</div>
                                <div>
                                    <span>Click Affection Bonus: +{{ formatNumber(category[itemArrayPosition(rowIndex,columnIndex)].click) }} </span>
                                    <span v-html="compareItems(category[itemArrayPosition(rowIndex,columnIndex)].click,[category[itemArrayPosition(rowIndex,columnIndex)], 'click'])"></span>
                                </div>
                                <div>
                                    <span>Idle Affection Bonus: +{{ formatNumber(category[itemArrayPosition(rowIndex,columnIndex)].idle) }} </span>
                                    <span v-html="compareItems(category[itemArrayPosition(rowIndex,columnIndex)].idle,[category[itemArrayPosition(rowIndex,columnIndex)], 'idle'])"></span>
                                </div>
                                <div>
                                    <span>Affection Multiplier: x{{ formatNumber(category[itemArrayPosition(rowIndex,columnIndex)].multiplier) }} </span>
                                    <span v-html="compareItems(category[itemArrayPosition(rowIndex,columnIndex)].multiplier,[category[itemArrayPosition(rowIndex,columnIndex)], 'multiplier'])"></span>
                                </div>
                            </v-card-text>
                        </v-card>

                    </v-tooltip>
                </v-col>
            </v-row>
        </div>

    </v-container>
</template>

<script>
import Axios from 'axios'

export default {
    data: () => ({
        hats: [],
        faces: [],
        toys: [],
        dataReady: false
    }),
    methods: {
        equipItem(newItem){

            Axios({ url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/inventory/'  + newItem.id + '/equip',
                    data: {},
                    method: 'GET'
            }).then(resp => {
                if(newItem.type === 'H'){
                    console.log(this.$store.getters.equippedHat);
                    if (newItem.id !== this.$store.getters.equippedHat.id){
                        this.$store.commit('setEquippedHat', newItem);
                    }
                } else if(newItem.type === 'F'){
                    if (newItem.id !== this.$store.getters.equippedFace.id){
                        this.$store.commit('setEquippedFace', newItem);
                    }
                } else if(newItem.type === 'T'){
                    if (newItem.id !== this.$store.getters.equippedToy.id){
                        this.$store.commit('setEquippedToy', newItem);
                    }
                }
            }).catch(err => {
                alert("Item could not be equipped.");
            })
        },

        parseInventory: function(items){
            items.forEach(item => {
                if(item.type === 'H'){
                    this.hats.push(item)
                } else if (item.type === 'F'){
                    this.faces.push(item)
                } else {
                    this.toys.push(item)
                }
            });
            this.dataReady = true;
        },

        itemArrayPosition: function(rowIndex, columnIndex) {
            return (rowIndex-1)*4 + columnIndex-1
        },

        rarityColor: function(rarity){
            if(rarity === "Common"){
                return "rgb(236,236,236)";
            } else if(rarity === "Rare"){
                return "rgb(0,127,222)";
            } else {
                return "rgb(213,145,0)";
            }
        },

        formatNumber(value){
            let suffixList = ["","K","M","B","T","q","Q","s","S","O","N","d","U"];
            let formattedValue = value;

            if (formattedValue > -1000 && formattedValue < 1000){
                return formattedValue%1 === 0 ? formattedValue : formattedValue.toFixed(2);
            } else {
                const negative = formattedValue < 0;
                formattedValue = Math.abs(formattedValue);

                let orderOfMagnitude = Math.floor(Math.log10(formattedValue)/3);
                formattedValue = formattedValue / (Math.pow(1000,orderOfMagnitude));
                return (negative ? "-" : "") + formattedValue.toFixed(2) + suffixList[orderOfMagnitude];
            }
        },

        compareItems(firstNum, args){
            let secondNum = 0;

            if(args[0].type === 'H'){
                secondNum = this.$store.getters.equippedHat;
            } else if(args[0].type === 'F'){
                secondNum = this.$store.getters.equippedFace;
            } else if(args[0].type === 'T'){
                secondNum = this.$store.getters.equippedToy;
            }

            if(args[1] === 'click'){
                secondNum = secondNum.click;
            } else if(args[1] === 'idle'){
                secondNum = secondNum.idle;
            } else if(args[1] === 'multiplier'){
                secondNum = secondNum.multiplier;
            }

            let value = firstNum - secondNum;
            let style = "style='color: white'";

            if(value > 0){
                style = "style='color: lime'";
            } else if(value < 0) {
                style = "style='color: tomato'";
            }

            return "<span " + style + ">(" + (value >= 0 ? "+" : "") + this.formatNumber(value) +")</span>"
        }
    },
    computed: {
        inventoryEnabled: function() {
            return this.$store.getters.inventoryEnabled;
        },
    },
    watch: {
        inventoryEnabled(newVal){
            if(newVal){
                console.log("Loading inventory");
                Axios({
                    url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/inventory/',
                    data: {},
                    method: 'GET'
                }).then(resp => {
                    this.parseInventory(resp.data)
                }).catch(err => {})
                
            } else {
                console.log("Closing inventory");
                this.hats = [];
                this.faces = [];
                this.toys = [];
                this.dataReady = false;
            }
        }
    }
}
</script>

<style scoped>
    .tooltip{
        border-radius: 15% !important;
        background-color: rgba(100, 100, 100, 1.0) !important;
        opacity: 1;
        border: 20px solid transparent;
        border-image: url("../assets/Other/FramePlain.png") 88 round;
    }
</style>