<template>
    <v-flex style="overflow-y: auto;" v-if="mailEnabled" class="parentContainer overflow-x-hidden overflow-y-auto">
        <!-- Compose button and received emails visible (mode 0)-->
        <v-container v-if="mode === 0" class="pa-0" fluid>
            <v-row>
                <v-btn class="mt-2" color="info" @click="mode = 2" block small>
                    <v-icon small left>mdi-email-edit-outline</v-icon> New Message
                </v-btn>
            </v-row>

            <v-container v-if="noMail">
                <v-row v-for="(message, index) in messages" :key="index" class="mb-1">
                    <v-card @click="readMail(message)" class="flex-grow-1" hover outlined>
                        <v-card-text class="body-2 font-weight-light">
                            <div><span class="font-weight-bold"> From:</span> {{message.sender}}</div>
                            <div class="font-italic"><span class="font-weight-bold"> Subject:</span> '{{message.subject.substring(0, 20)}}'</div>
                        </v-card-text>
                    </v-card>
                </v-row>
            </v-container>

            <v-container v-else class="text-center">
                <span class="font-weight-light"> You have no mail... </span>
            </v-container>
        </v-container>

        <!-- Selected single email (mode 1) -->
        <v-container v-else-if="mode === 1" class="pa-0">
            <SingleMail :mail="currentMail"> </SingleMail>
        </v-container>

        <!-- Composing new email (mode 2) -->
        <v-container style="padding: 0" v-else>
            <ComposeMail> </ComposeMail>
        </v-container>
    </v-flex>
</template>

<script>

import Axios from 'axios'

import ComposeMail from '@/components/ComposeMail.vue'
import SingleMail from '@/components/SingleMail.vue'

export default {
    props: [],
    components: {
        ComposeMail, SingleMail
    },
    data: () => ({
        mode: 0,
        currentMail: null
    }),
    methods: {
        readMail(mail){
            this.mode = 1;
            this.currentMail = mail;
        },
        getMessages(){
            Axios({
                    url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/email/',
                    data: {},
                    method: 'GET'
                }).then(resp => {
                    this.$store.commit('setMessages', resp.data);
                }).catch(err => {})
        }
    },

    computed: {
        mailEnabled: function() {
            return this.$store.getters.mailEnabled;
        },
        noMail: function(){
            return !(this.$store.getters.messages.length === 0);
        },
        messages: function(){
            return this.$store.getters.messages;
        }
    },
    watch: {
        mailEnabled: function(newVal){
            if(newVal){
                this.getMessages();
            }
        }
    }
}
</script>

<style scoped>
    .parentContainer{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>