<template>
    <v-container id="container" class="pa-0 mt-4 justify-center" fill-height>
        <v-row id="topContainer" class="ma-0 pa-0 align-self-start" no-gutters justify="center">
            <div class="pa-0 headline font-weight-bold text-uppercase">{{openWindow}}</div>
        </v-row>

        <v-row id="centerContainer" class="ma-0 px-4 py-2 flex-grow-1">
            <InventoryWindow></InventoryWindow>
            <ShopWindow></ShopWindow>
            <MailWindow></MailWindow>
        </v-row>

        <v-row id="bottomContainer" class="ma-0 pa-0 justify-center align-self-end">

            <v-btn class="ma-0 mr-1 flex-grow-1" @click="toggleShop" color="secondary" x-small height="40px">
                <v-icon>mdi-cart-outline</v-icon>
            </v-btn>
            <v-btn class="ma-0 mr-1 flex-grow-1" @click="toggleInventory" color="secondary" x-small height="40px">
                <v-icon>mdi-bag-personal-outline</v-icon>
            </v-btn>
            <v-btn class="ma-0 mr-1 flex-grow-1" @click="$router.push('minigame')" color="secondary" x-small height="40px">
                <v-icon>mdi-gamepad-variant-outline</v-icon>
            </v-btn>
            <v-btn class="ma-0 mr-1 flex-grow-1" @click="toggleMail" color="secondary" x-small height="40px">
                <v-icon style="position:absolute;">mdi-email-outline</v-icon>
                <v-icon v-if="newMessages" style="position: absolute; left: 5px; top: -17px" color="red" right dense small>mdi-bell</v-icon>
            </v-btn>
            <v-btn class="mx-5 mt-2" @click="showExitPrompt = true" x-small block>
                Log Out
            </v-btn>
        </v-row>

        <v-dialog v-model="showExitPrompt" max-width="300" persistent overlay-opacity="0.75">
            <v-card class="red--text">
                <v-card-title class="justify-center">Are you sure?</v-card-title>
                <v-card-text class="text-center">Logging out will save all your progress</v-card-text>
                <v-card-actions class="justify-center">
                    <v-btn x-small text @click="logout">Log Out</v-btn>
                    <v-btn x-small text @click="showExitPrompt=false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </v-container>
</template>

<script>

import ShopWindow from '@/components/ShopWindow.vue'
import InventoryWindow from '@/components/InventoryWindow.vue'
import MailWindow from '@/components/MailWindow.vue'

export default {
    components: {
        ShopWindow,
        InventoryWindow,
        MailWindow
    },
    data: () => ({
        showExitPrompt: false,
    }),
    methods: {
        toggleShop: function(){
          this.$store.commit('toggleShop');  
        },
        toggleInventory: function(){
            this.$store.commit('toggleInventory');
        },
        toggleMail: function(){
            this.$store.commit('toggleMail');
            this.$store.state.newMessages = false;
        },
        logout: function(){
            this.$store.dispatch("logout").catch(err => {});
        }
    },
    computed:{
        newMessages: function(){
            return this.$store.getters.newMessages;
        },
        openWindow: function(){
            if(this.$store.getters.shopEnabled){
                return "shop";
            } else if(this.$store.getters.inventoryEnabled){
                return "inventory"
            } else if(this.$store.getters.mailEnabled){
                return "mailbox"
            } else {
                return "???"
            }
        }
    },
    mounted() {
        this.toggleShop();
    }
}
</script>

<style scoped>
    #container{
        height: 95%;
        background-color: rgba(100, 100, 100, 1.0);
        border-radius: 13%;
    }

    #topContainer{
        border-radius: 40%;
        background-color: rgba(100, 100, 100, 1.0);
        border: solid transparent;
        border-width: 33px 33px 10px 33px;
        border-image: url("../assets/Other/FramePlainTop.png") 88 88 88 88 round;
    }

    #centerContainer{
        height: 80%;
        border: solid transparent;
        border-width: 0px 15px 0px 15px;
        border-image: url("../assets/Other/FramePlainCenter.png") 40 round;
        background-color: rgb(75, 75, 75);
        box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    }

    #bottomContainer{
        border-radius: 28%;
        background-color: rgba(100, 100, 100, 1.0);
        border: solid transparent;
        border-width: 10px 33px 33px 33px;
        border-image: url("../assets/Other/FramePlainBottom.png") 88 88 88 88 round;
    }
</style>