<template>
    <div v-if="showComponent">
        <!-- v-if makes sure to remove the component after 2 seconds to clear up the DOM. This is triggered by a timeout in the mounted hook -->
        <v-img  :style="cssVars" class="wrapper particle" src="../assets/PetSprites/Heart.png"></v-img>
        <div :style="cssVars" class="wrapper apCount display-1 font-weight-black">+{{formatNumber(apValue)}} AP</div>
    </div>
</template>

<script>
    export default {
        name: "Particle",
        props:{
            xPos: Number,
            yPos: Number,
            apValue: Number
        },

        data: () => ({
            showComponent: true
        }),

        mounted: function(){
            setTimeout(() => {this.showComponent = false},2000);
        },

        methods: {
            formatNumber(value){
                let suffixList = ["","K","M","B","T","q","Q","s","S","O","N","d","U"];
                let formattedValue = value;
                if(formattedValue < 1000){
                    return formattedValue%1 === 0 ? formattedValue : formattedValue.toFixed(2);
                } else {
                    let orderOfMagnitude = Math.floor(Math.log10(formattedValue)/3);
                    formattedValue = formattedValue / (Math.pow(1000,orderOfMagnitude));
                    return formattedValue.toFixed(2) + suffixList[orderOfMagnitude];
                }
            }
        },

        computed: {
            cssVars(){  //Used to provide random values to the CSS.
                return {
                    '--xPosText':this.xPos-40+"px",
                    '--yPosText':this.yPos-20+"px",
                    '--xPosParticle':this.xPos-15+"px",
                    '--yPosParticle':this.yPos-40+"px",
                    '--xCompText': Math.floor(Math.random() * Math.floor(100))-50 +"px",
                    '--yCompText': (Math.floor(Math.random() * Math.floor(100))+100)*-1 +"px",
                    '--xCompParticle': Math.floor(Math.random() * Math.floor(200))-100 +"px",
                    '--yCompParticle': Math.floor(Math.random() * Math.floor(200))-100 +"px",
                    '--rotation': Math.floor(Math.random() * Math.floor(90))-45 +"deg"
                };
            }
        }
    }
</script>

<style scoped>
    .wrapper{
        position: absolute;
        pointer-events: none;
        opacity: 1.0;
        animation-fill-mode: both;
    }

    .apCount{
        top: var(--yPosText);
        left: var(--xPosText);
        animation: textAnimation 1s ease-out 1 forwards;
        color: #ff5d54;
        -webkit-text-stroke: 1px #4f0001;
        z-index: 1;
    }

    .particle{
        top: var(--yPosParticle);
        left: var(--xPosParticle);
        width: 60px;
        height: 60px;
        animation: particleAnimation 1s ease-out 1 forwards;
        z-index: 2;
    }

    @keyframes particleAnimation {
        0%{opacity: 1; transform: translate3d(0, 0, 0) scale(0) rotate(0deg);}
        100%{opacity: 0; transform: translate3d(var(--xCompParticle), var(--yCompParticle), 0) scale(2.5)}
    }

    @keyframes textAnimation {
        0%{opacity: 1; transform: translate3d(0, 0, 0) scale(0)}
        20%{transform: translate3d(var(--xCompText), var(--yCompText), 0) scale(1.2)}
        50%{opacity: 1}
        60%,100%{opacity: 0; transform: translate3d(var(--xCompText), var(--yCompText), 0) scale(1.2)}
    }
</style>