<template>
    <v-flex @click="play" class="petWrapper" id="petWrapper">
        <v-img v-if="foodLevel > 85 || foodLevel < 15" contain class="petAndItem" :id="'pet'" src="../assets/PetSprites/PetSad.png"> </v-img>
        <v-img v-else-if="foodLevel > 66.6 || foodLevel < 33.3" contain class="petAndItem" :id="'pet'" src="../assets/PetSprites/PetNeutral.png"> </v-img>
        <v-img v-else contain class="petAndItem" :id="'pet'" src="../assets/PetSprites/PetHappy.png"> </v-img>

        <v-img contain class="petAndItem" id="hat" :src="require('../assets/PetSprites/' + $store.getters.equippedHat.sprite + '.png')"> </v-img>
        <v-img contain class="petAndItem" id="accessory" :src="require('../assets/PetSprites/' + $store.getters.equippedFace.sprite + '.png')"> </v-img>
        <v-img contain class="petAndItem" id="toy" :src="require('../assets/PetSprites/' + $store.getters.equippedToy.sprite + '.png')"> </v-img>

        <Particle v-for="(particle,index) in this.particles" :key="index" :xPos="particle.xPos + 45" :yPos="particle.yPos + 60"
                  :ap-value="$store.getters.affectionPerClick * $store.getters.multiplier"></Particle>
    </v-flex>
</template>

<script>
    import Particle from "./Particle";

    export default {
        components: {Particle},

        data: () => ({
            particles: []
        }),

        computed: {
            foodLevel: function () {
                return this.$store.getters.foodLevel;
            },
        },

        methods: {
            play: function(event){
                this.createParticle(event);
                let petEl = document.getElementById("petWrapper");
                let currentAffectionEl = document.getElementById("currentAffection");

                //play pet clicked animation
                petEl.classList.add('petAnimation');
                this.resetAnimation(petEl);

                this.$store.dispatch("play");
            },

            resetAnimation: function(el){
                el.style.animation = 'none';
                el.offsetHeight; /* trigger reflow */
                el.style.animation = null;
            },

            createParticle: function (event) {
                this.particles.push({xPos:event.offsetX,yPos:event.offsetY});
            }
        }
    }
</script>

<style scoped>
.petWrapper{
    max-height: 70%;
    max-width: 70%;
    width: 70%;
    height: 70%;
    position: relative;
    align-items: center;
    text-align: center;
}

.petAndItem{
    position: absolute;
    height: 100%;
    top: 45px;
    left: 60px;
}

.petAndItem:hover{
    cursor: pointer;
}

@-webkit-keyframes clickedAnimation {
    0% {-webkit-transform: rotate(0deg) scale(1.1) skew(0deg)}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(0deg)}
}

.petAnimation{
    -webkit-animation-name: clickedAnimation;
    -webkit-animation-duration:.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
</style>