<template>
    <v-flex class="parentContainer">
        <v-row style="text-align:center">
            <v-col>
                <v-btn @click="logout"> Logout </v-btn>
            </v-col>
        </v-row>
    </v-flex>
</template>

<script>
export default {
    data: () => ({
    }),
    methods: {
        logout: function(){
            this.$store.dispatch("logout").catch(err => {});
            this.$store.commit('toggleSettings')
        }
    },
}
</script>

<style scoped>
    .parentContainer{
        background-color: rgba(255, 255, 255);
        height: 50vh;
        width: 50vh;
    }
</style>