<template>
    <v-container v-if="shopEnabled" class="pa-0 justify-center overflow-y-auto overflow-x-hidden" fill-height>
        <v-row class="pa-0" v-for="(row,index) in 3" :key="index">
            <v-col class="pa-0">
                <v-card outlined>
                    <v-card-title :class="'font-weight-' + fontWeights[index] + ' justify-center pa-0 py-2 text-uppercase'" :style="'color:' + colours[index]">
                        {{rarities[index]}} Chest
                    </v-card-title>
                    <v-card-text class="px-0">
                        <v-img class="petAndItem" :src='require("../assets/Other/" + rarities[index]+ "ChestClosed.png")' max-height="100" contain></v-img>
                    </v-card-text>
                    <v-card-actions class="pa-0">
                        <v-btn @click="buyBox(rarities[index])" style="text-transform: capitalize" block small
                               :disabled="currentAffection < box_price(rarities[index]) || currentAffection < rarityDisabledThreshold[index]">
                            {{ currentAffection < rarityDisabledThreshold[index] ? "Reach " + formatNumber(rarityDisabledThreshold[index]) +" AP to unlock" : "BUY: " + formatNumber(box_price(rarities[index]))}}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-dialog v-if="mostRecentItem !== null" v-model="showItemDialog" width="500px"  overlay-opacity="0.9" overlay-color="black">
            <v-card class="card topCard" tile>
                <v-card-title class="justify-center display-1 pa-0 mb-4" :style="'color: ' + colours[rarities.indexOf(mostRecentItem.rarity)]">{{ mostRecentItem.name }}</v-card-title>
                <v-card-subtitle class="text-center headline font-italic font-weight-light pa-0">"{{ mostRecentItem.description }}"</v-card-subtitle>
            </v-card>
            <v-img :src='require("../assets/Other/" + mostRecentChest + "ChestClosed.png")' width="500px" class="closedChest"></v-img>
            <v-img :src='require("../assets/Other/" + mostRecentChest + "ChestOpen.png")' width="500px" class="openChest"></v-img>
            <v-img :src='require("../assets/Other/" + mostRecentChest + "ThirdBackdrop.png")' width="700px" class="itemBackdrop thirdBackdrop"></v-img>
            <v-img :src='require("../assets/Other/" + mostRecentChest + "SecondBackdrop.png")' width="700px" class="itemBackdrop secondBackdrop"></v-img>
            <v-img :src='require("../assets/Other/" + mostRecentChest + "FirstBackdrop.png")' width="700px" class="itemBackdrop firstBackdrop"></v-img>
            <v-img :src='require("../assets/ItemsCentered/" + mostRecentItem.sprite + ".png")' width="500px" class="chestItem"></v-img>
            <v-card class="card bottomCard" tile>
                <v-card-text class="text-center title font-weight-light pa-0">
                    <div class="ma-0"><span class="font-weight-bold">Click Affection Bonus:</span> +{{formatNumber(mostRecentItem.click)}} AP</div>
                    <div><span class="font-weight-bold">Idle Affection Bonus:</span> +{{formatNumber(mostRecentItem.idle)}} AP/s</div>
                    <div><span class="font-weight-bold">Affection Multiplier:</span> x{{formatNumber(mostRecentItem.multiplier)}}</div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>

import Axios from 'axios'

export default {
    props: ['borderRadius'],
    data: () => ({
        rarities: ["Common", "Rare", "Epic"],
        fontWeights: ["regular","bold","black"],
        rarityDisabledThreshold:[1,1000,1000000],
        colours: ["rgb(236,236,236)", "rgb(0,127,222)", "rgb(213,145,0)"],
        mostRecentItem: null,
        mostRecentChest: null,
        showItemDialog: true
    }),

    methods: {
        box_price: function(type){
            if(type === "Epic"){
                return this.$store.getters.epicBoxPrice
            } else if (type === "Rare"){
                return this.$store.getters.rareBoxPrice
            } else {
                return this.$store.getters.commonBoxPrice
            }
        },

        formatNumber(value){
            let suffixList = ["","K","M","B","T","q","Q","s","S","O","N","d","U"];
            let formattedValue = value;
            if(formattedValue < 1000){
                return formattedValue%1 === 0 ? formattedValue : formattedValue.toFixed(2);
            } else {
                let orderOfMagnitude = Math.floor(Math.log10(formattedValue)/3);
                formattedValue = formattedValue / (Math.pow(1000,orderOfMagnitude));
                return formattedValue.toFixed(2) + suffixList[orderOfMagnitude];
            }
        },

        buyBox: function(rarity) {
            if(this.$store.getters.currentAffection < this.box_price(rarity)){
                alert("You currently don't have enough AP to buy this!");
                return;
            }

            this.mostRecentChest = rarity;

            Axios({
                url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/shop/',
                data: {
                    "username" : localStorage.getItem('username'),
                    "rarity" : rarity
                },
                method: 'POST'
            }).then(resp => {
                this.mostRecentItem = resp.data;
                this.showItemDialog = true;
                switch(rarity){
                    case "Epic":
                        this.$store.commit("decrementAffection", this.$store.getters.epicBoxPrice);
                        break;
                    case "Rare":
                        this.$store.commit("decrementAffection", this.$store.getters.rareBoxPrice);
                        break;
                    case "Common":
                        this.$store.commit("decrementAffection", this.$store.getters.commonBoxPrice);
                        break;
                    default:
                        return;
                }

                Axios({
                    url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/',
                    data: {
                        "ap": this.$store.getters.currentAffection,
                        "hunger": this.$store.getters.foodLevel / 100,
                        "ap_gain": this.$store.getters.ap_gain,
                        "logout": 1,
                        },
                    method: 'PATCH'
                }).then(resp => {
                    //patch successful, therefore reset ap_gain
                    this.$store.commit("resetApGain");
                    //updateBoxPrices based on lifetime ap
                    let realAffectionPerSecond = this.$store.getters.affectionPerSecond * this.$store.getters.multiplier;
                    let realClickAffection = this.$store.getters.affectionPerClick * this.$store.getters.multiplier;
                    this.$store.commit("setEpicBoxPrice", Math.max(Math.ceil(realAffectionPerSecond * 100),Math.ceil(realClickAffection *500)));
                    this.$store.commit("setRareBoxPrice",  Math.max(Math.ceil(realAffectionPerSecond * 30),Math.ceil(realClickAffection *200)));
                    this.$store.commit("setCommonBoxPrice", Math.max(Math.ceil(realAffectionPerSecond * 10),Math.ceil(realClickAffection *50)));
                }).catch(err => {})
            })
            .catch(err => {})
        },
    },

    computed: {
        shopEnabled: function() {
            return this.$store.getters.shopEnabled;
        },
        currentAffection: function(){
            return this.$store.getters.currentAffection;
        }
    },
}
</script>

<style scoped>

    .card{
        position: absolute;
        width: 500px;
        z-index: 1;
        background-color: rgb(70, 70, 70) !important;
        border: 25px solid transparent;
        border-image: url("../assets/Other/FramePlain.png") 88 round;
        border-radius: 25%;
        animation: fadeIn 5s ease;
        animation-fill-mode: both;
    }

    .topCard{
        top: 100px;
    }

    .bottomCard{
        top: 700px;
    }

    .closedChest{
        position: absolute;
        top: 300px;
        animation: closedChestAnimation 5s ease;
        animation-fill-mode: both;
    }

    .openChest{
        position: absolute;
        top: 217px;
        animation: openChestAnimation 5s ease;
        animation-fill-mode: both;
    }

    .chestItem{
        position: absolute;
        top: 230px;
        left: 706px;
        animation: itemAnimation 5s ease;
        animation-fill-mode: both;
    }

    .itemBackdrop{
        position: absolute;
        top: 90px;
        left: 605px;
        animation-fill-mode: both;
    }

    .firstBackdrop{
        animation: forwardRotation 5s linear 0s infinite forwards, fadeIn 5s ease 0s 1 forwards;
    }

    .secondBackdrop{
        animation: forwardRotation 8s linear 0s infinite forwards, fadeIn 5s ease 0s 1 forwards;
    }

    .thirdBackdrop{
        animation: forwardRotation 13s linear 0s infinite forwards, fadeIn 5s ease 0s 1 forwards;
    }

    @keyframes fadeIn {
        0%,80%{opacity: 0}
        100% {opacity: 1}
    }

    @keyframes forwardRotation {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
    }

    @keyframes closedChestAnimation {
        0%, 20%, 40%, 50% { transform: translate3d(0, 0, 0) rotate(0deg)}
        11%, 19%, 41%, 49% { transform: translate3d(-1px, 0, 0) rotate(1deg)}
        12%, 18%, 42%, 48% { transform: translate3d(2px, 0, 0) rotate(-1deg)}
        13%, 15%, 17%, 43%, 45%, 47% { transform: translate3d(-4px, 0, 0) rotate(1deg)}
        14%, 16%, 44%, 46% {transform: translate3d(4px, 0, 0) rotate(-1deg)}
        0%,80%{opacity: 1}
        81%,100% {opacity: 0}
    }

    @keyframes openChestAnimation {
        0%,80%{opacity: 0}
        81%,100% {opacity: 1}
    }

    @keyframes itemAnimation {
        0%,80%{opacity: 0; transform: scale(0.5)}
        100% {opacity: 1; transform: scale(1)}
    }
</style>