<template>
    <v-card class="mt-3" outlined>
        <v-card-text class="pb-0">
            <div class="title font-weight-light"><span class="font-weight-bold">From: </span>{{mail.sender}}</div>
            <div class="title font-weight-light"><span class="font-weight-bold">Subject: </span>{{mail.subject}}</div>
            <v-divider class="mb-5 mt-2"></v-divider>
            <div class="title font-weight-light">{{mail.content}}</div>
            <v-divider class="mt-5"></v-divider>
        </v-card-text>
        <v-card-actions class="ma-1">
            <v-btn class="flex-grow-1" @click="goBack"> Back </v-btn>
            <v-btn @click="deleteMail" color="error"> Delete </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

import Axios from 'axios'

export default {
    props: ['mail'],
    components: {
    },
    data: () => ({
        mode: 0,
    }),
    methods: {
        goBack(){
            this.$parent.mode = 0;
        },
        deleteMail(){
            Axios({url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/api/user/' + localStorage.getItem('username') + '/email/',
                data: {"id" : this.mail.id},
                method: 'DELETE'
            }).then(resp => {
                this.$parent.getMessages();
                this.goBack();
            }).catch(err => {})
        }
    }
}
</script>