<template>
    <v-container class="py-0 ">
        <v-row class="primaryStat" style="text-align:center" align="center">
            <v-col class="statsWrapperOuter font-weight-thin pa-0 align-self-start">
                <div class="statsWrapperInner pa-0">
                    <div class="caption font-weight-thin">ITEM STATS</div>
                    <div><span class="font-weight-bold">Base Click Affection:</span> {{formatNumber(baseAffectionPerClick)}} AP</div>
                    <div><span class="font-weight-bold">Base Idle Affection:</span>  {{formatNumber(baseAffectionPerSecond)}} AP/s</div>
                    <div><span class="font-weight-bold">Affection Multiplier: </span> x{{formatNumber(baseMultiplier)}}</div>
                </div>
            </v-col>
            <v-col class="wrapper apWrapper text-center col-5 mx-5 mt-4">
                <div id="currentAffection">
                    <div class="body-1 font-weight-thin">AFFECTION POINTS</div>
                    <animated-number class="display-4 font-weight-regular" :value="currentAffection" :formatValue="formatNumber" :duration="1000"/>
                </div>
            </v-col>
            <v-col class="statsWrapperOuter font-weight-thin pa-0 align-self-start">
                <div class="statsWrapperInner pa-0">
                    <div class="caption font-weight-thin">OTHER STATS</div>
                    <div><span class="font-weight-bold">Real Click Affection:</span> {{formatNumber(effectiveAffectionPerClick)}} AP</div>
                    <div><span class="font-weight-bold">Real Idle Affection: </span> {{formatNumber(effectiveAffectionPerSecond)}} AP/s</div>
                    <div><span class="font-weight-bold">Hunger Level: </span>  {{formatNumber(this.$store.getters.foodLevel)}}% (x{{this.$store.getters.foodMultiplier}})</div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import AnimatedNumber from "animated-number-vue";
    export default {
        components: {
            AnimatedNumber
        },

        computed: {
            currentAffection: function(){
                return this.$store.getters.currentAffection;
            },
            baseAffectionPerSecond: function(){
                return this.$store.getters.affectionPerSecond;
            },
            baseAffectionPerClick: function(){
                return this.$store.getters.affectionPerClick;
            },
            baseMultiplier: function(){
                return this.$store.getters.multiplier;
            },
            effectiveAffectionPerSecond: function(){
                return this.baseAffectionPerSecond * this.baseMultiplier * this.$store.getters.foodMultiplier;
            },
            effectiveAffectionPerClick: function(){
                return this.baseAffectionPerClick * this.baseMultiplier;
            }
        },

        methods: {
            formatNumber(value){
                let suffixList = ["","K","M","B","T","q","Q","s","S","O","N","d","U"];
                let formattedValue = value;

                if (formattedValue > -1000 && formattedValue < 1000){
                    return formattedValue%1 === 0 ? formattedValue : formattedValue.toFixed(2);
                } else {
                    const negative = formattedValue < 0;
                    formattedValue = Math.abs(formattedValue);

                    let orderOfMagnitude = Math.floor(Math.log10(formattedValue)/3);
                    formattedValue = formattedValue / (Math.pow(1000,orderOfMagnitude));
                    return (negative ? "-" : "") + formattedValue.toFixed(2) + suffixList[orderOfMagnitude];
                }
            }
        }
    }
</script>

<style scoped>

    .statsWrapperOuter{
        border: solid transparent;
        border-width: 45px 0px 0px 0px;
        border-image: url("../assets/Other/BorderChains.png") 192 0 0 0 stretch;
    }

    .statsWrapperInner{
        border: 30px solid transparent;
        border-radius: 20%;
        background-color: rgb(0, 66, 90) !important;
        border-image: url("../assets/Other/FrameCyan.png") 88 round;
    }

    .apWrapper{
        border-radius: 15%;
        border: 30px solid transparent !important;
        border-image: url("../assets/Other/FrameBlue.png") 88 round !important;
        background-color: rgb(92, 92, 92) !important;
    }

</style>>